@import url('https://fonts.googleapis.com/css2?family=B612+Mono&family=Edu+NSW+ACT+Foundation&family=Mochiy+Pop+One&family=Open+Sans&family=Poppins&family=Roboto&family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

@media screen and (max-width:1920px) {
    body{
        background-color: #0d192b;
        display: flex;
        justify-content: center;
    }
    
    .container{
        width: 100%;
    }
    
    #navegar{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Roboto';
        border-bottom: 1px solid #0c5149;

    }
    
    #navegar button{
        width: 80px;
        height: 30px;
        border: 1px solid transparent;
        background-color: transparent;
        cursor: pointer;
    }
    
    #navegar button:hover{
        border: 1px solid #07f9a2;
        transition-duration: 1s;
    }
    
    #navegar nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        height: 50px;
    }
    
    #navegar .logo img{
        display: flex;
        width: 100px;
        height: 25px;
    }
    
    #navegar .lista ul{
        display: flex;
        list-style: none;
    }
    
    #navegar .lista ul li{
        color:#07f9a2;
        display: flex;
        padding: 5px;
    }
    
    #navegar ul li a{
        color:#07f9a2;
        text-decoration: none;
    }
    
    .title h1{
        text-align: center;
        cursor: default;
        color: #07f9a2;
        font-size: 40px;
        margin-top: 30px;
    }


    #conteudo{
        width: 100%;
        height: 75vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        flex-direction: column;
    }
    

    .card{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 500px;
        border-radius: 20px;
        border: 1px solid #07f9a2;
        /* background-color: #0c5149a4; */
        box-shadow: 20px 20px 50px 50px #07f9a00e;
    }

    .card .texto{
        width: 600px;
        font-size: 20px;
        font-weight: 400;
        font-family: 'Roboto';
        display: flex;
        color: #ffffff;
        margin-left: 50px;
    }

    .botao{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        
    }

    .botao button{
        font-family: 'Roboto';
        font-size: 15px;
        color: #07f9a2;
        width: 150px;
        height: 50px;
        border: 1px solid #07f9a2;
        background-color: transparent;
        cursor: pointer;
    }

    .botao button:hover{
        font-family: 'Roboto';
        font-size: 15px;
        color: #0d192b;
        width: 150px;
        height: 50px;
        border: 1px solid #0c5149;
        background-color: #09c184;
        transition-duration: 2s;
        cursor: pointer;
    }


}


@media screen and (max-width:1024px) {
    
}

@media screen and (max-width:600px) {
    body{
        background-color: #0d192b;
        display: flex;
        justify-content: center;
    }
    
    .container{
        width: 100%;
    }
    
    #navegar{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Roboto';
        border-bottom: 1px solid #0c5149;

    }
    
    #navegar button{
        display: none;
        width: 80px;
        height: 30px;
        border: 1px solid transparent;
        background-color: transparent;
        cursor: pointer;
    }
    
    #navegar button:hover{
        display: none;
        border: 1px solid #07f9a2;
        transition-duration: 1s;
    }
    
    #navegar nav{
        display: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        height: 50px;
    }
    
    #navegar .logo img{
        display: none;
        display: flex;
        width: 100px;
        height: 25px;
    }
    
    #navegar .lista ul{
        display: none;
        display: flex;
        list-style: none;
    }
    
    #navegar .lista ul li{
        display: none;
        color:#07f9a2;
        display: flex;
        padding: 5px;
    }
    
    #navegar ul li a{
        display: none;
        color:#07f9a2;
        text-decoration: none;
    }
    
    .title h1{
        text-align: center;
        cursor: default;
        color: #07f9a2;
        font-size: 40px;
        margin-top: 30px;
    }


    #conteudo{
        width: 100%;
        height: 75vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        flex-direction: column;
    }
    

    .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 500px;
        border-radius: 20px;
        border: 1px solid #07f9a2;
        box-shadow: 20px 20px 50px 50px #07f9a00e;
    }

    .card .imagem{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .card .imagem img{
        width: 80%;
    }

    .card .texto{
        width: 310px;
        font-size: 10px;
        font-weight: 400;
        font-family: 'Roboto';
        margin-left: 0;
        color: #ffffff;
        margin-top: 5px;
    }

    .botao{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        
    }

    .botao button{
        font-family: 'Roboto';
        font-size: 15px;
        color: #07f9a2;
        width: 100px;
        height: 30px;
        border: 1px solid #07f9a2;
        background-color: transparent;
        cursor: pointer;
    }

    .botao button:hover{
        font-family: 'Roboto';
        font-size: 15px;
        color: #0d192b;
        width: 150px;
        height: 50px;
        border: 1px solid #0c5149;
        background-color: #09c184;
        transition-duration: 2s;
        cursor: pointer;
    }
}