@import url('https://fonts.googleapis.com/css2?family=B612+Mono&family=Edu+NSW+ACT+Foundation&family=Mochiy+Pop+One&family=Open+Sans&family=Poppins&family=Roboto&family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

@media screen and (max-width:1920px) {
    body{
        background-color: #0d192b;
        display: flex;
        justify-content: center;
    }
    
    .container{
        width: 100%;
    }
    
    #logo {
        width: 7%;
    }
    
    #header {
        box-sizing: border-box;
        height: 70px;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #0d192b;
        border-bottom:1px solid #0c5149;
    }
    
    #menu {
        display: flex;
        list-style: none;
        gap: 0.5rem;
    }
    
    
    #menu a {
        color: #09c184;
        display: block;
        padding: 0.5rem;
        text-decoration: none;
        font-weight: bolder;
    }
    
    #menu a:hover {
        color: #07f9a2;
        transition-duration: 0.3s;
    }
    
    #btn-mobile {
        display: none;
    }













    
    .title h1{
        text-align: center;
        cursor: default;
        color: #07f9a2;
        font-size: 40px;
        margin-top: 30px;
    }


    #conteudo{
        width: 100%;
        height: 75vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        flex-direction: column;
    }
    

    .card{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 500px;
        border-radius: 20px;
        border: 1px solid #07f9a2;
        /* background-color: #0c5149a4; */
        box-shadow: 20px 20px 50px 50px #07f9a00e;
    }

    .card .texto{
        width: 600px;
        font-size: 20px;
        font-weight: 400;
        font-family: 'Roboto';
        display: flex;
        color: #ffffff;
        margin-left: 50px;
    }

    .botao{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        
    }

    .botao button{
        font-family: 'Roboto';
        font-size: 15px;
        color: #07f9a2;
        width: 150px;
        height: 50px;
        border: 1px solid #07f9a2;
        background-color: transparent;
        cursor: pointer;
    }

    .botao button:hover{
        font-family: 'Roboto';
        font-size: 15px;
        color: #0d192b;
        width: 150px;
        height: 50px;
        border: 1px solid #0c5149;
        background-color: #09c184;
        transition-duration: 2s;
        cursor: pointer;
    }


}

@media screen and (max-width:1024px) {
    body{
        background-color: #0d192b;
        display: flex;
        justify-content: center;
        overflow-x: hidden;
    }
    
    .container{
        width: 100%;
    }
    
    #logo {
        width: 15%;
      }
    
      #menu {
      display: block;
      position: absolute;
      width: 30%;
      top: 50px;
      right: 0px;
      background: #0d192b;
      transition: 0.6s;
      z-index: 1000;
      height: 0px;
      visibility: hidden;
      overflow-y: hidden;
      text-align: center;
      border-left:1px solid #0c5149;
      border-bottom:1px solid #0c5149;
    }
  
    #nav.active #menu {
      height: 270px;
      visibility: visible;
      overflow-y: auto;
    }
  
    #menu a {
      padding: 1rem 0;
      margin: 0 1rem;
      border-bottom: 2px solid #0c5149;
    }
  
    #btn-mobile {
      display: flex;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border: none;
      background: none;
      cursor: pointer;
      gap: 0.5rem;
      color:#09c184;
    }
  
    #hamburger {
      border-top: 2px solid;
      width: 20px;
    }
  
    #hamburger::after,
    #hamburger::before {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background: currentColor;
      margin-top: 5px;
      transition: 0.3s;
      position: relative;
    }
    #nav.active #hamburger {
      border-top-color: transparent;
    }
    #nav.active #hamburger::before {
      transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
    }

    
    .title h1{
        text-align: center;
        cursor: default;
        color: #07f9a2;
        font-size: 40px;
        margin-top: 30px;
    }


    #conteudo{
        width: 100%;
        height: 75vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        flex-direction: column;
    }
    

    .card{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 500px;
        border-radius: 20px;
        border: 1px solid #07f9a2;
        box-shadow: 20px 20px 50px 50px #07f9a00e;
    }

    .card .imagem{
        width: 50%;
        display: flex;
        justify-content: center;
    }

    .card .imagem img{
        width: 80%;
    }

    .card .texto{
        width: 310px;
        font-size: 15px;
        font-weight: 400;
        font-family: 'Roboto';
        margin-left: 0;
        color: #ffffff;
        margin-top: 5px;
    }

    .botao{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        
    }

    .botao button{
        font-family: 'Roboto';
        font-size: 15px;
        color: #07f9a2;
        width: 100px;
        height: 30px;
        border: 1px solid #07f9a2;
        background-color: transparent;
        cursor: pointer;
    }

    .botao button:hover{
        font-family: 'Roboto';
        font-size: 15px;
        color: #0d192b;
        width: 150px;
        height: 50px;
        border: 1px solid #0c5149;
        background-color: #09c184;
        transition-duration: 2s;
        cursor: pointer;
    }
}

@media screen and (max-width:600px){
    body{
        background-color: #0d192b;
        display: flex;
        justify-content: center;
        overflow-x: hidden;
    }
    
    .container{
        width: 100%;
    }

    #logo {
        width: 20%;
      }
    
      #menu {
      display: block;
      position: absolute;
      width: 30%;
      top: 70px;
      right: 0px;
      background: #0d192b;
      transition: 0.6s;
      z-index: 1000;
      height: 0px;
      visibility: hidden;
      overflow-y: hidden;
      text-align: center;
      border-left:1px solid #0c5149;
      border-bottom:1px solid #0c5149;
    }
  
    #nav.active #menu {
      height: 270px;
      visibility: visible;
      overflow-y: auto;
    }
  
    #menu a {
      padding: 1rem 0;
      margin: 0 1rem;
      border-bottom: 2px solid #0c5149;
    }
  
    #btn-mobile {
      display: flex;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border: none;
      background: none;
      cursor: pointer;
      gap: 0.5rem;
      color:#09c184;
    }
  
    #hamburger {
      border-top: 2px solid;
      width: 20px;
    }
  
    #hamburger::after,
    #hamburger::before {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background: currentColor;
      margin-top: 5px;
      transition: 0.3s;
      position: relative;
    }
    #nav.active #hamburger {
      border-top-color: transparent;
    }
    #nav.active #hamburger::before {
      transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
    }

    
    .title h1{
        text-align: center;
        cursor: default;
        color: #07f9a2;
        font-size: 40px;
        margin-top: 30px;
    }


    #conteudo{
        width: 100%;
        height: 75vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        flex-direction: column;
    }
    

    .card{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        flex-direction: column;
        height: 700px;
        border-radius: 20px;
        border: 1px solid #07f9a2;
        box-shadow: 20px 20px 50px 50px #07f9a00e;
    }

    .card .imagem{
        width: 80%;
        display: flex;
        justify-content: center;
    }

    .card .texto{
        width: 90%;
        font-size: 15px;
        font-weight: 400;
        font-family: 'Roboto';
        margin-left: 0;
        color: #ffffff;
        margin-top: 15px;
    }

    .botao{
        display: flex;
        justify-content: center;
        margin-top: 35px;
        
    }

    .botao button{
        font-family: 'Roboto';
        font-size: 15px;
        color: #07f9a2;
        width: 150px;
        height: 50px;
        border: 1px solid #07f9a2;
        background-color: transparent;
        cursor: pointer;
    }

    .botao button:hover{
        font-family: 'Roboto';
        font-size: 15px;
        color: #0d192b;
        width: 150px;
        height: 50px;
        border: 1px solid #0c5149;
        background-color: #09c184;
        transition-duration: 2s;
        cursor: pointer;
    } 
}

/* @media screen and (max-width:400px){
    body{
        background-color: #0d192b;
        display: flex;
        justify-content: center;
        overflow-x: hidden;
    }
    
    .container{
        width: 100%;
    }
    
    #logo {
        width: 15%;
      }
    
      #menu {
      display: block;
      position: absolute;
      width: 30%;
      top: 50px;
      right: 0px;
      background: #0d192b;
      transition: 0.6s;
      z-index: 1000;
      height: 0px;
      visibility: hidden;
      overflow-y: hidden;
      text-align: center;
      border-left:1px solid #0c5149;
      border-bottom:1px solid #0c5149;
    }
  
    #nav.active #menu {
      height: 270px;
      visibility: visible;
      overflow-y: auto;
    }
  
    #menu a {
      padding: 1rem 0;
      margin: 0 1rem;
      border-bottom: 2px solid #0c5149;
    }
  
    #btn-mobile {
      display: flex;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border: none;
      background: none;
      cursor: pointer;
      gap: 0.5rem;
      color:#09c184;
    }
  
    #hamburger {
      border-top: 2px solid;
      width: 20px;
    }
  
    #hamburger::after,
    #hamburger::before {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background: currentColor;
      margin-top: 5px;
      transition: 0.3s;
      position: relative;
    }
    #nav.active #hamburger {
      border-top-color: transparent;
    }
    #nav.active #hamburger::before {
      transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
    }
    
    .title h1{
        text-align: center;
        cursor: default;
        color: #07f9a2;
        font-size: 40px;
        margin-top: 30px;
    }
    #conteudo{
        width: 100%;
        height: 75vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        flex-direction: column;
    }
    
    .card{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        flex-direction: column;
        height: 700px;
        border-radius: 20px;
        border: 1px solid #07f9a2;
        box-shadow: 20px 20px 50px 50px #07f9a00e;
    }
    .card .imagem{
        width: 50%;
        display: flex;
        justify-content: center;
    }
    .card .imagem img{
        width: 90%;
    }
    .card .texto{
        width: 80%;
        font-size: 10px;
        font-weight: 400;
        font-family: 'Roboto';
        margin-left: 0;
        color: #ffffff;
        margin-top: 5px;
    }
    .botao{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        
    }
    .botao button{
        font-family: 'Roboto';
        font-size: 15px;
        color: #07f9a2;
        width: 110%;
        height: 30px;
        border: 1px solid #07f9a2;
        background-color: transparent;
        cursor: pointer;
    }
    .botao button:hover{
        font-family: 'Roboto';
        font-size: 15px;
        color: #0d192b;
        width: 150px;
        height: 50px;
        border: 1px solid #0c5149;
        background-color: #09c184;
        transition-duration: 2s;
        cursor: pointer;
    } 
} */