@import url('https://fonts.googleapis.com/css2?family=B612+Mono&family=Edu+NSW+ACT+Foundation&family=Mochiy+Pop+One&family=Open+Sans&family=Poppins&family=Roboto&family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

@media screen and (max-width:1920px) {
    body{
        background-color: #0d192b;
        display: flex;
        justify-content: center;
        overflow-x: hidden;
        font-family: 'Roboto';
    }
    
    .container{
        width: 100%;
    }
    
    #logo {
        width: 7%;
    }
    
    #header {
        box-sizing: border-box;
        height: 70px;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #0d192b;
        border-bottom:1px solid #0c5149;
    }
    
    #menu {
        display: flex;
        list-style: none;
        gap: 0.5rem;
    }
    
    
    #menu a {
        color: #09c184;
        display: block;
        padding: 0.5rem;
        text-decoration: none;
        font-weight: bolder;
    }
    
    #menu a:hover {
        color: #07f9a2;
        transition-duration: 0.3s;
    }
    
    #btn-mobile {
        display: none;
    }

    #conteudo{
        width: 100%;
        height: 75vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-family: 'Roboto';
        margin-top: 30px;
        flex-direction: column;
    }
    
    
    #conteudo .title h1{
        cursor: default;
        color: #07f9a2;
        font-size: 50px;
    }
    
    #conteudo .title label{
        color: #09c184;
        font-size: 20px;
    }
    
    
    
    .redes{
        justify-content: center;
        margin-top: 20px;
        display: flex;
    }
    
    .redes img{
        width: 20px;
        height: 20px;
        padding: 0;
    }
    
    .redes ul{
        display: flex;
        list-style: none;
        cursor: pointer;
    }
    
    .redes ul li{
        padding: 15px;
        margin: 0;
    }
}

@media screen and (max-width:1024px) {
    
}

@media screen and (max-width:600px) {
    body{
        overflow: hidden;
    }
    
    .container{
        width: 100%;
    }
    
    #logo {

        width: 20%;
      }
    
      #menu {
      display: block;
      position: absolute;
      width: 30%;
      top: 70px;
      right: 0px;
      background: #0d192b;
      transition: 0.6s;
      z-index: 1000;
      height: 0px;
      visibility: hidden;
      overflow-y: hidden;
      text-align: center;
      border-left:1px solid #0c5149;
      border-bottom:1px solid #0c5149;
    }
  
    #nav.active #menu {
      height: 270px;
      visibility: visible;
      overflow-y: auto;
    }
  
    #menu a {
      padding: 1rem 0;
      margin: 0 1rem;
      border-bottom: 2px solid #0c5149;
    }
  
    #btn-mobile {
      display: flex;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border: none;
      background: none;
      cursor: pointer;
      gap: 0.5rem;
      color:#09c184;
    }
  
    #hamburger {
      border-top: 2px solid;
      width: 20px;
    }
  
    #hamburger::after,
    #hamburger::before {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background: currentColor;
      margin-top: 5px;
      transition: 0.3s;
      position: relative;
    }
    #nav.active #hamburger {
      border-top-color: transparent;
    }
    #nav.active #hamburger::before {
      transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
    }
   
    #conteudo{
        width: 100%;
        height: 75vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-family: 'Roboto';
        margin-top: 30px;
        flex-direction: column;
    }

    #conteudo .title h1{
        cursor: default;
        color: #07f9a2;
        font-size: 50px;
    }
    
    #conteudo .title label{
        color: #09c184;
        font-size: 20px;
    }
    
    .redes{
        justify-content: center;
        margin-top: 20px;
        display: flex;
    }
    
    .redes img{
        width: 20px;
        height: 20px;
        padding: 0;
    }
    
    .redes ul{
        display: flex;
        list-style: none;
        cursor: pointer;
    }
    
    .redes ul li{
        padding: 15px;
        margin: 0;
    }
}