@import url('https://fonts.googleapis.com/css2?family=B612+Mono&family=Edu+NSW+ACT+Foundation&family=Poppins&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=B612+Mono&family=Edu+NSW+ACT+Foundation&family=Mochiy+Pop+One&family=Open+Sans&family=Poppins&family=Ubuntu&display=swap');
*{
    margin:0;
    padding: 0;
}

@media screen and (max-width:1920px) {

    body{
        background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgb(0, 0, 0,0.7)),url('../imagens/background.png');
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        margin: 0;
    }

    /* PARTE 1 */

    #container1{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .titles{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'B612';
        color: #ffff;
        align-items: center;
        font-family: 'B612 Mono';
        font-weight: 700;
        margin-top: 45px;
    }

    .disp{
        font-size: 20px;
        margin-bottom: 35px;
    }

    .titulo{
        font-size: 96px;
    }

    .conteudo{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container4{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .avl{
        display: flex;
        flex-direction: column;
        margin-left: 73px;
        justify-content: center;
    }

    .desc{
        width: 722px;
        height: 96px;
        font-family: 'B612 Mono';
        font-size: 20px;
        font-weight: 400;
        color: #ffff;
    }

    .timer{
        margin-top: 46px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .clock{
        display: flex;
    }


    .clock-pc{
        margin-right: 15px;
        display: flex;
        flex-direction: row;
    }

    .clock label{
        color: #ffff;
        font-size: 24px;
        font-family: 'B612 Mono';
        font-weight: 700;
    }

    .stars ul{
        display: flex;
        list-style: none;
    }

    .stars ul li{
        padding: 5px;
    }

    .stars-cel{
        display: none;
    }

    .ano{
        display: flex;
        color: #ffff;
        font-size: 24px;
        font-family: 'B612 Mono';
        font-weight: 700;
    }

    .botoes{
        margin-top: 15px;
    }

    .botoes button{
        height: 52px;
        margin-right: 15px;
    }

    .assistir{
        width: 184px;
        cursor: pointer;
        background-color: #0072D2;
        border: none;
        color: #ffff;
        font-size: 16px;
        font-weight: 700px;
        font-family: "Open Sans";
    }

    .trailer{
        width: 115px;
        cursor: pointer;
        background-color: #131318;
        border: 1px solid #ffff;
        color: #ffff;
        font-size: 16px;
        font-weight: 700px;
        font-family: "Open Sans";
    }

    .clock-cel{display: none;}
    .desc-cel{display: none;}

}

@media screen and (max-width:600px) {

    body{
        background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgb(0, 0, 0,0.7)),url('../imagens/back-cel.png');
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        margin: 0;
    }

    /* PARTE 1 */

    #container1{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .container1{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .disp{
        font-size: 18px;
        font-weight: 700;
    }

    .titulo{
        font-size: 64px;
        font-weight: 700;
    }

    .container4{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .avl{
        width: 100%;
        display: flex;
        margin: 0;
    }

    .timer{
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-top: 300px;

    }

    .clock{
        display: flex;
    }

    .clock label{
        font-size: 16px;
    }

    .stars-cel{
        display: flex;
    }

    .stars-cel ul{
        list-style: none;
        display: flex;
        flex-direction: row;
    }

    .info{
        width: 100%;
        height: 280px;
        background-color:#19191F ;
        margin-top: 40px;
        border-radius: 20px 20px 0px 0px;
    }


    .botoes{
        display: flex;
        justify-content: center;
        margin-top: 32px;
    }

    .desc-cel{
        display: flex;
        width: 100%;
        height: 100px;
        justify-content: center;
        font-family: 'B612 Mono';
        font-size: 14px;
        font-weight: 400;
        color: #ffff;
        margin-top: 50px;
    }

    .desc-cel label{
        display: flex;
        width: 312px;
        height: 100px;
        justify-content: center;
        align-items: center;
    }

















    .desc{display: none;}
    .stars{display: none;}
    .banner{display: none;}
    .clock-pc{display: none;}
}